---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import stylex from '@stylexjs/stylex';
import Button from '../components/button';

export const styles = stylex.create({
  redText: {
    color: '#ff0000',
  },
});
---

<Layout>
	<h1 {...stylex.attrs(styles.redText)}>HEADING!</h1>
	<Button />
</Layout>
